<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head> 
    <title>Опрос</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>

<body>
    <header th:insert="blocks/header :: header"></header>

    <div class="container mt-5">
        <h1>Тестовый опрос</h1>

        <form th:action="@{/questionnaire}" method="post">

          <div th:each="question, iter1 : ${questions}">
            <p th:text="${iter1.count} + '. ' + ${question}"/>
            
            <div>
              <div th:each="answerOption, iter2 : ${answerOptions[iter1.index]}" class="d-inline">
                <input type="radio" th:id="${iter2.index}" th:name="'answer' + ${iter1.count}" th:value="${answerOption}" required/>
                <label th:for="${iter2.index}" th:text="${answerOption}"/>
              </div>
            </div>
            
            <br>
          </div> 
          
          <div>
            <button type="submit" class="btn btn-dark">Сохранить</button>
          </div>
        </form>

        <br>
        <a href="/exportpdf" class="btn btn-dark">Сохранить шаблон опросника в pdf-файл</a>
    </div>

    <div th:insert="blocks/footer :: footer"></div>
</body>

</html>